<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISDMXService" />
            </basicHttpBinding>
            <customBinding>
                <binding name="CustomBinding_ISDMXService">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport maxReceivedMessageSize="2097152" 
                      maxBufferSize="2097152" 
                      maxBufferPoolSize="2097152"/> 
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://dataservices.imf.org/sdmx20/SDMX_WCF_Service.svc/service"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISDMXService"
                contract="ServiceFMI.ISDMXService" name="BasicHttpBinding_ISDMXService" />
            <endpoint address="http://dataservices.imf.org/sdmx20/SDMX_WCF_Service.svc/service12"
                binding="customBinding" bindingConfiguration="CustomBinding_ISDMXService"
                contract="ServiceFMI.ISDMXService" name="CustomBinding_ISDMXService" />
        </client>
    </system.serviceModel>
</configuration>